body {
    background-color: #E9F8F9;
  }
  hr
   {
    border-style: none;
    border-top-style: dotted;
border-color: grey;
border-width: 4px;
width: 4%;
}
h1
{
    color:#66BFBF;
}
h3
{ color:#66BFBF;
}

p{
    color: #2B3467

}
ul

{
    color: #2B3467

}
li{
    color: #2B3467

}